:root {
    --left-color: rgb(44, 44, 44);
    --right-color: rgb(0, 0, 0);
    --top-color: rgb(0, 0, 0);
    --top-color-display: rgb(155, 155, 155);
    --center-color-display: rgb(121, 121, 121);
    --bottom-color-display: rgb(228, 228, 228);
    --top-color-body: rgb(12, 119, 143);
    --center-color-body: rgb(231, 231, 231);
    --bottom-color-body: rgb(230, 243, 243);

    --top-color-body-display: rgb(220, 248, 255);
  
    --bottom-color-body-display: rgb(0, 140, 255);

    --center-color: rgb(39, 39, 39);
    --bottom-color: rgb(0, 0, 0);
    --my-gradient: linear-gradient(var(--top-color), var(--center-color), var(--bottom-color));
    --my-gradient-main: linear-gradient(var(--bottom-color), var(--left-color), var( --right-color));
    --my-gradient-display: linear-gradient(var(--bottom-color-display), var(--center-color-display), var(--top-color-display));
    --my-gradient-body: linear-gradient(var(--bottom-color-body), var(--center-color-body), var(--top-color-body));
    --my-gradient-body-display: linear-gradient(var(--bottom-color-body-display), var( --top-color-body-display),var(--bottom-color-body-display));

}

*{
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
body{
    height: 100vh;
    width: 100%;
    background: var(--my-gradient-body);
    font-family: 'Saira', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}
#main--piano-container {
    background: var(--my-gradient-main);
    height: 28rem;
    width: 60rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 30px 30px 60px 60px;
    border-top: 5px  solid #616161;
    border-left: 10px  solid #252525;
    border-right: 10px  solid #202020;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.685);

}
#piano{
    top: 1rem;
    position: relative;
    width: 100%;
    max-width: 50rem;
    height: 25rem;
    border-top: 6px solid rgb(141, 141, 141);
    border-left: 4px solid rgb(48, 48, 48);
    border-right: 4px solid rgb(48, 48, 48);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    background: var(--my-gradient);
    -webkit-box-shadow: 0 0 3.75rem rgb(199, 199, 199);
    box-shadow: 0 0 3.75rem rgb(37, 37, 37);
    

    
}
#piano-header {
    margin: .4rem auto 0 auto;
    position: relative;
    display: flex;
    height: 9rem;
    width:97%;
    background: rgb(31, 31, 31);
    border-radius: 4px;
}
#piano-container{
    width:97%;
    height: 14.375rem;
    margin: 1rem auto 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
}
#piano-container li{
    width: 5rem;
    height: 14rem;
    list-style-type: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
#piano-container .li{
    width: 5rem;
    height: 14rem;
    list-style-type: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.white{
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
    position: relative;
    z-index: 1;
    background: #f0f0f9;
    border-radius: 0 0 4px 4px;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}
.white span {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: rgb(0, 202, 216);
    font-weight: 900;
    background: rgba(180, 180, 180, 0.582);
    border-radius: 4px;
    margin-bottom: .3rem;
    visibility: hidden;
}
.white:hover {
    background: #d8d8d8;
    transition: .3s;
    cursor: pointer;

}
.black {
    position: absolute;
    right: -26%;
    z-index: 2;
    width: 2rem;
    height: 7rem;
    background: #000;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 1px 0 rgb(128, 128, 128),0 2px 0 rgb(0, 0, 0),0 3px 0 rgb(0, 0, 0),0 4px 0 rgb(255, 255, 255),0 5px 0 rgb(209, 209, 209),0 6px 1px rgba(228, 228, 228, 0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(231, 231, 231, 0.3),0 3px 5px rgb(184, 184, 184),0 5px 10px rgba(226, 226, 226, 0.25),0 10px 10px rgba(207, 207, 207, 0.2),0 20px 20px rgba(214, 214, 214, 0.15);
    -moz-box-shadow: 1px 0 rgb(128, 128, 128),0 2px 0 rgb(0, 0, 0),0 3px 0 rgb(0, 0, 0),0 4px 0 rgb(255, 255, 255),0 5px 0 rgb(209, 209, 209),0 6px 1px rgba(228, 228, 228, 0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(231, 231, 231, 0.3),0 3px 5px rgb(184, 184, 184),0 5px 10px rgba(226, 226, 226, 0.25),0 10px 10px rgba(207, 207, 207, 0.2),0 20px 20px rgba(214, 214, 214, 0.15);
    -ms-box-shadow: 1px 0 rgb(128, 128, 128),0 2px 0 rgb(0, 0, 0),0 3px 0 rgb(0, 0, 0),0 4px 0 rgb(255, 255, 255),0 5px 0 rgb(209, 209, 209),0 6px 1px rgba(228, 228, 228, 0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(231, 231, 231, 0.3),0 3px 5px rgb(184, 184, 184),0 5px 10px rgba(226, 226, 226, 0.25),0 10px 10px rgba(207, 207, 207, 0.2),0 20px 20px rgba(214, 214, 214, 0.15);
    box-shadow: 1px 0 rgb(128, 128, 128),0 2px 0 rgb(0, 0, 0),0 3px 0 rgb(0, 0, 0),0 4px 0 rgb(255, 255, 255),0 5px 0 rgb(209, 209, 209),0 6px 1px rgba(228, 228, 228, 0.1),0 0 5px rgba(0,0,0,0.1),0 1px 3px rgba(231, 231, 231, 0.3),0 3px 5px rgb(184, 184, 184),0 5px 10px rgba(226, 226, 226, 0.25),0 10px 10px rgba(207, 207, 207, 0.2),0 20px 20px rgba(214, 214, 214, 0.15);
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.black span {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: rgb(0, 202, 216);
    font-weight: 900;
    background: rgba(253, 253, 253, 0.219);
    border-radius: 4px;
    margin-bottom: .1rem;
    visibility: hidden;
}
.black:hover {
    background: rgb(24, 24, 24);
    cursor: pointer;
    transition: .3s;

}
.playing{
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    border-color: #00f7ff;
 
}
.key{
    -webkit-transition: -webkit-transform 80ms ease;
    transition: -webkit-transform 80ms ease;
    transition: transform 80ms ease;
    transition: transform 80ms ease, -webkit-transform 80ms ease
}

.black:active{
    -webkit-box-shadow: 1px 0 #555,0 1px 0 #555,0 1px 0 #444,0 2px 0 #333;
    -moz-box-shadow: 1px 0 #555,0 1px 0 #555,0 1px 0 #444,0 2px 0 #333;
    -ms-box-shadow: 1px 0 #555,0 1px 0 #555,0 1px 0 #444,0 2px 0 #333;
    box-shadow: 1px 0 #555,0 1px 0 #555,0 1px 0 #444,0 2px 0 #333;

}
.white:active{
    -webkit-box-shadow: -1px 0 15px rgba(121, 121, 121, 0.7) inset;
    -moz-box-shadow: -1px 0 15px rgba(121, 121, 121, 0.7) inset;
    -ms-box-shadow: -1px 0 15px rgba(121, 121, 121, 0.7) inset;
    box-shadow: -1px 0 15px rgba(121, 121, 121, 0.7) inset;

}
.list-instruments {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    background: var(--my-gradient-display);
    border: 2px solid rgb(0, 217, 255);
    border-radius: 4px;
}
.list-instruments spam {
    font: .6em sans-serif;
    font-weight: 800;
    
}
#span-instruments span {
    font: .6em sans-serif;
    font-weight: 600;
    background: rgb(0, 247, 255);
    padding: 0 .2rem;
    border-radius: 3px;
    cursor: default;
    
   
}


.instruments {
    width: 3rem;
    height: 3rem;
    margin: .2rem .2rem;
    background: #ffffff;
    padding: .3rem;
    border-radius: 5px;
    transition: .3s;
    box-shadow: 0 0 20px rgb(218, 218, 218);
    
}
.instruments:hover {
    background: rgb(0, 255, 242);
    transition: .3s;
    cursor: pointer;
    transform: scale(1.1, 1.1);
}
.instruments:active {
    background: rgb(253, 253, 253);
    transition: .1s;
    cursor: pointer;
}
.instruments-dispaly {
    width: 5rem;
    height: 5rem;
    margin: .2rem .2rem;
    background: var(--my-gradient-display);
    padding: .4rem;
    border-radius: 10px;
    transition: all .3s;
    border:2px solid#b8b8b8;
}
.instruments-dispaly:hover {
    transform: scale(1.1, 1.1);
}


.piano-display {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    background: var(--my-gradient);
    border-top: 2px solid rgb(153, 153, 153);
    border-left: 4px solid rgb(70, 70, 70);
    border-right: 4px solid rgb(68, 68, 68);
    border-bottom: 6px solid rgb(48, 48, 48);
    border-radius: 4px;
    margin: 0 .5rem;
    
}
.piano-display-center {
  background: #96e0e2;
  height: 4rem;
  display: flex;
  position: relative;
  top: 0;
 
  
}
#piano-display-chords {
    background: transparent;
    
}
#piano-display-chords span {
  margin-top: 2.5rem;
}
.piano-display-container-lft {
    width:8rem;
    height: 100%;
    background: var(--my-gradient-body-display);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
}
.top-span {
    color: #ffffff;
    position: absolute;
    font-size: .8rem;
    top: .2rem;
    font-weight: 400;
    
}
.center-span {
    color: #ffffff;
    position: relative;
    font-size: .8rem;
    font-weight: 500;
}

#top-span-center-bottom span {
   position: relative;
   padding: 2rem;
 
}

#note {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #00f7ff;
    width: 4rem;
    height: 2.6rem;
    margin-top: -2.7rem;
    background: var(--my-gradient-display);
    border-radius: 10px;
    transition: .3s;
    border:2px solid#b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#note:hover {
    transition: .3s;
    transform: scale(1.1, 1.1);
    cursor: default;
}
#octave {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #00f7ff;
    width: 4rem;
    height: 2.6rem;
    margin-top: -2.7rem;
    background: var(--my-gradient-display);
    border-radius: 10px;
    transition: .3s;
    border:2px solid#b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
}

#octave:hover {
    transition: .3s;
    transform: scale(1.1, 1.1);
    cursor: default;
}
#chords {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #00f7ff;
    width: 4rem;
    height: 2.5rem;
    margin-top: -2.7rem;
    background: var(--my-gradient-display);
    border-radius: 10px;
    transition: .3s;
    border:2px solid#b8b8b8;
    display: flex;
    align-items: center;
    justify-content: center;
}
#chords:hover {
    transition: .3s;
    transform: scale(1.1, 1.1);
    cursor: default;
}
#piano-display-chords {
    position: absolute;
    top: 4.6rem;
    width: 8rem;
    height: 2.8rem;
    padding-top: 2.8rem ;
    
   
}
#span-dispaly {
    font-weight: 800;
    font-size: .7rem;
    padding: .2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    border-radius: 4px;
    background: rgba(168, 168, 168, 0);
    color: #ffffff;
    margin-bottom: -1.5rem;
}
.piano-controls {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    outline: none;
    background: var(--my-gradient-display);
    border: 2px solid rgb(0, 225, 255);
    border-radius: 4px;
    
}
.controls-octave {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.controls-octave #up {
    width: 4rem;
    height: 2rem;
    background: #000;
    color: #ffffff;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    border: 2px solid rgb(0, 255, 221);
    border-radius: 6px;
    margin: .2rem;
}
.controls-octave #up:hover {
    cursor: pointer;
    color: #00f7ff;
    transition: .3s;
    transform: scale(0.98, 0.98);

}
.controls-octave #up:active {
    background-color: #ffffff;
    color: #00f7ff;
    transition: .1s;
}
.controls-octave #down {
    width: 4rem;
    height: 2rem;
    background: #000;
    color: #ffffff;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 900;
    border: 2px solid rgb(0, 255, 221);
    border-radius: 6px;
}
.controls-octave #down:hover {
    cursor: pointer;
    color: #00f7ff;
    transition: .3s;
    transform: scale(0.98, 0.98);
}
.controls-octave #down:active {
    background-color: #ffffff;
    color: #00f7ff;
    transition: .1s;
}
.piano-controls span {
    font: .6em sans-serif;
    font-weight: 800;
}

.span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: .5rem;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid transparent;
    border-radius: 5px;
}
.span-ins {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: .5rem;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-top: 3px solid transparent;
    border-radius: 5px;
    
}
.span span {
    font: .6em sans-serif;
    font-weight: 600;
    margin-top: .2rem;
    background: rgb(0, 255, 242);
    padding: 0 .3rem;
    border-radius: 3px;
    cursor: default;
}

#controls-container-mode {
    margin: .8rem 0  0;
    width: 10rem;
    height: 3.2rem;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

.controls-mode {
    width: 3rem;
    height: 3rem;
    background: #ffffff;
    padding: .3rem;
    border-radius: 5px;
    transition: .3s;
    box-shadow: 0 0 20px rgb(218, 218, 218);
}
.controls-mode:hover {
    background: rgb(0, 255, 242);
    transition: .3s;
    cursor: pointer;
    transform: scale(1.1, 1.1);

}
.controls-mode:active {
    background: rgb(253, 253, 253);
    transition: .1s;
    cursor: pointer;
}
/*# sourceMappingURL=main.css.map */